#felso,
#also {
    width: 100%;
    background-color: black;
    height: 150px;
    z-index: 12;
}

#kozepso {
    height: 500px;
    display: block;
    width: 614px;
    overflow-y: hidden;
    margin: 25px auto;
}

.slot {
    height: 480px;
    border: 1px solid black;
    width: 200px;
    display: inline-block;
    overflow: hidden;
}

.kiskep {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    transition: 1s;
}

#forgat {
    margin: 0 auto;
    display: block;
    font-size: 3em;
    border-radius: 5px;
    z-index: 13;
}